@CHARSET "UTF-8";
body,p,legend,label,input
{
	font:normal 10pt veradna , helvetica , sans-serif;
}
fieldset 
{
	padding: 10px;
	border: 1px #0568CD solid;
}
legend
{
	font-weight: bold;
	color:  #0568CD
}
form label
{
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}
form input
{
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}
form input.boutton
{
	margin-left: 200px;
}
form span.requis
{
	color: #c00;
}
form span.errors
{
	color: #900;
	
}
